<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body style="box-sizing: border-box; margin: 0; font-family:Arial, Helvetica, sans-serif">
    <div style="background-color: black;">
        <h2 style="margin: 0 auto; color: white; text-align: center; padding: 1rem">
            Reset your password
        </h2>
    </div>
    
    <div style="padding: 1.5rem; color: dimgray; margin: 0 auto; max-width: 600px;">
        <h3>
            Hello <strong th:text="${username}"></strong>
        </h3>
        <p>
            Seems like you have forgot your password. Don't worry we have got your back. Use this <strong th:text="${password}"></strong> a system generated password to login and change your password
        </p>
        <hr>
        <p style="font-size: small;">
            This is a system generated email please don't reply to this mail.
            If you have recieved this email by mistake please ignore this message. 
        </p>
    </div>
    
</body>
</html>